body {
  background: #666;
  font-family: sans-serif;
  font-size: 14px;
  padding: 1em;
}
#main {
  background: #eef;
  width: 1024px;
  padding: 1em;
  margin: 0 auto;
  border: 1px solid 99c;
  overflow: hidden;
}
code {
  font-family: monospace;
}
span.time {
  display: inline-block;
  padding: 0.5em;
  background: black;
  color: #3F0; 
  font-weight: bold; 
  font-family: monospace;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1em;
}
